<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Title</title>
    </head>
    <body>
        <h1>{{pose_type}}-Pose</h1>
        <table>
            <tr>
                <td>
                    <img
                        src="/detectme_{{pose_type}}"
                        style="width: 320px; height: 240px"
                        id="cv_img"
                    />
                </td>
                <td>
                    <h2><a href="/">돌아가기</a></h2>
                </td>
                <video id="videoInput" style="display: none"></video>
            </tr>
        </table>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            setInterval(function () {
                $.ajax({
                    url: "/get_data",
                    dataType: "json",
                    success: function (data) {
                        if (data.return_result != "") {
                            window.location = "/result";
                        }
                    },
                    error: function (request, status, error) {
                        console.log("실패");
                    },
                });
            }, 1000);
        </script>

        <!-- <script type="text/javascript">
            var meta = document.createElement("meta");
            meta.httpEquiv = "refresh";
            meta.content = "0;url=http://127.0.0.1:8000/result";

            navigator.getUserMedia =
                navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia;

            var constraints = {audio: false, video: true};

            setTimeout(later, 5000);

            function later() {
                time_loop = setInterval(function () {
                    var video = document.getElementById("videoInput");

                    function successCallback(stream) {
                        //video.srcObject = stream;
                        stream.getTracks().forEach(function (track) {
                            track.stop();
                        });
                        //console.log("END");
                        clearInterval(time_loop);

                        document
                            .getElementsByTagName("head")[0]
                            .appendChild(meta);
                    }

                    function errorCallback(error) {
                        //console.log("cv");
                    }

                    navigator.getUserMedia(
                        constraints,
                        successCallback,
                        errorCallback
                    );
                }, 1000);
            }
        </script> -->
    </body>
</html>
