<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Title</title>
    </head>
    <body>
        <h1>{{pose_type}}-Pose</h1>
        <table>
            <tr>
                <td>
                    <img
                        src="http://127.0.0.1:8000/detectme_{{pose_type}}"
                        style="width: 320px; height: 240px"
                    />
                </td>
                <td>
                    <h2><a href="/">돌아가기</a></h2>
                </td>
            </tr>
        </table>
    </body>
</html>
