face/test2
face/test3
face/test1/img
.env

motion/test7/img
motion/test7/file/pose_deploy_linevec_faster_4_stages.prototxt
motion/test7/file/pose_iter_160000.caffemodel
motion/test10_django2_webcam/detectme/file
motion/test11_django2_webcam_origin/detectme/file
yoonjiy

.DS_Store
.pyc
__pycache__/
Frontend

