<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Title</title>
    </head>
    <body>
        <h1>{{pose_type}}-Pose</h1>
        <table>
            <tr>
                <td>
                    <video id="videoInput"></video>
                </td>
                <td>
                    <canvas id="camCanvas" style="display: none"></canvas>
                    <div class="output">
                        <img
                            id="photo"
                            alt="The screen capture will appear in this box."
                            style="display: none"
                        />
                    </div>
                </td>

                <!-- <h2><a href="/">돌아가기</a></h2> -->
                <h1 id="seconds"></h1>
            </tr>
        </table>

        <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
        <script type="text/javascript">
            var constraints = {
                audio: false,
                video: {width: 320, height: 240},
            };
            const cameraView = document.getElementById("videoInput");
            const cameraSensor = document.getElementById("camCanvas");
            const photo = document.getElementById("photo");

            function cameraStart() {
                //카메라 켜기
                navigator.mediaDevices
                    .getUserMedia(constraints)
                    .then(function (stream) {
                        track = stream.getTracks()[0];
                        cameraView.srcObject = stream;
                        cameraView.play(); //카메라를 프론트에서 실행
                    })
                    .catch(function (error) {
                        console.error("카메라에 문제가 있습니다.", error);
                    });

                //초 카운트
                countSeconds();
            }

            function takePhoto() {
                cameraSensor.width = cameraView.videoWidth;
                cameraSensor.height = cameraView.videoHeight;
                cameraSensor.getContext("2d").drawImage(cameraView, 0, 0);

                var data = cameraSensor.toDataURL("image/jpeg");
                photo.setAttribute("src", data);
                photo.style = "";
            }

            function countSeconds() {
                const sec = document.getElementById("seconds");
                let count = 1;
                timer = setInterval(function () {
                    sec.innerText = count + "초";
                    count += 1;

                    if (count == 6) {
                        sec.innerText = "찰칵";
                        takePhoto();
                        clearInterval(timer);
                    }
                }, 1000);
            }

            // 페이지가 로드되면 함수 실행
            window.addEventListener("load", cameraStart, false);
        </script>
    </body>
</html>
